.main {
    border: 1px solid #ddd;
    width: 50%;
    border-radius: 3px;
    text-align: center;
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.navbar {
    border-bottom: 0.5px solid #ddd;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2.5s ease-in-out;
}

.porogres_bar {
    background-color: rgba(238, 238, 238, .75);
    display: flex;
    padding: 15px;
    border-radius: 100px;
    max-width: 100%;
    min-width: 75%;
    transition: all 2.5s ease-in-out;
    position: relative;
    justify-content: space-evenly;
    overflow: hidden;
}

.porogres_bar span {
    transition: all 2.5s ease-in-out;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 100;
}

.porogres_bar-indicatot {
    transition: all 2.5s ease-in-out;
    position: absolute;
    height: 100%;
    z-index: 1;
    width: 40%;
    background-color: rgba(68, 189, 184, 1);
    top: 0;
    width: 100%;
}


.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
}

.question h2 {
    font-size: 35px;
    color: #4a4a4a;
    margin: 50px 10px;
}

.answer-box {
    max-width: 80%;
    background-color: rgba(238, 238, 238, .75);
    margin: 50px auto;
    border-radius: 100px;
    display: flex;
}

.answer-box .answer {
    padding: 25px 40px;

    border-radius: 100px;
}